In [1]:
import numpy as np 
import pandas as pd 
import sklearn 
import tensorflow as tf
from matplotlib import pyplot as plt 
import seaborn as sns
import keras

WARNING:tensorflow:From C:\Users\nagab\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [10]:
rd=pd.read_csv("A:\deeplearning\hackathon\cleaned.csv")
y_train  = pd.read_csv("A:\deeplearning\hackathon\change.csv")
x_train=pd.DataFrame(rd)
x_train.head(5)
y_train.head(5)
print(x_train.shape)
print(y_train.shape)

(4629, 6)
(40903, 1)

In [7]:
df_train=df_train.drop(columns=['Month'])
df_train.head(5)

   home_team  away_team  tournament  country  neutral
0        164       31.0          62    164.0        0
1        169      308.0          83    169.0        0
2        272      122.0          62    272.0        0
3        131      275.0          89    131.0        0
4        284      190.0          74    284.0        0

In [9]:
df_train.shape

(4629, 5)